:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(247, 91, 59);
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
}

* {
    box-sizing: inherit;  
    /* inherit: kế thừa. kế thừa box-sizing thừ thẻ chứa nó */
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* responsive */


.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;

}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.33333%;
}

/* Amination */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from{
        transform: scale(var(--growth-form));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    --growth-form: 0.7;
    --growth-to: 1;
    z-index: 1;
    margin: auto;
    animation: growth linear 0.1s;
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}

.btn.btn--size-xs {
    min-width: 90px;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

.btn.btn--nomal:hover {
    background-color: rgba(0,0,0,0.1);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--primary:hover {
    background-color: #f35d3f;
}

.btn--disabled {
    color: #949494;
    background-color: #c3c3c3;
    cursor: default;
}

/* selection */
.select-input {
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: rgba(131,131,131);
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    list-style: none;
    position: absolute;
    z-index: 1;
    top: 22px;
    left: 0;
    right: 0;
    font-size: 1.4rem;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    display: none;
    animation: fadeIn ease-in 0.2s;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.select-input__list::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    height: 10px;
}

.select-input__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* pagination */
.pagination {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;

}

.pagiation__item-active .pagiation__item-link {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}

.pagiation__item-active .pagiation__item-link:hover {
    background-color: #f77055;
}

.pagiation__item-link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #b4b4b4;
    height: 30px;
    min-width: 40px;
    font-size: 1.8rem;
    line-height: 30px;
    margin: 0 15px;
}

